html{
    background-color: #222831;
    color: #f2f2f2;
}
.btn{
    padding:2rem;
    font-size:1.5rem;
    margin:0.5rem;
    width:15%;
    height: 2rem;
    display: inline-flex;
    line-height:1.5;
    align-items:center;
    justify-content: center;
    align-items: center;
    ;
}

.btns{
display:flex;
justify-content: center;

}

.score-title{
    /* display:inline-block; */
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-left:50%
    margin-right:auto;
}
.scores-container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    background-color:#393e46;
    padding-bottom: 5rem;

}

.scores{
    display: flex;
    flex-direction:column;
justify-content: space-between;
align-content: space-between;
align-items:center;
margin: 1rem;
;
}

.player-score-div, .ai-score-div{
  margin-top:1rem;
   

}

.image{
    top-margin:12px;
    width:15%;
    border: solid black;
    height:10rem;
}

.results{
    line-height:2rem;
    color:#f96d00;
}

@font-face {
    font-family: 'Arcade';
    src: url('font/8-bit Arcade In.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}


.title{
    color: #f96d00;
text-align:center;
font-weight: 700;
font-size:4rem;
font-family: 'Arcade', sans-serif;
}