
.btn{
    padding:2rem;
    font-size:1.5rem;
    margin:0.5rem;
    width:25%;
    height: 2rem;
    display: inline-flex;
    line-height:1.5;
    align-items:center;*/
    justify-content: center;
    ;
}

.btns{
display:flex;
justify-content: center;

}

