
.btn{
    padding:2rem;
    font-size:1.5rem;
    margin:0.5rem;
    width:25%;
    height: 2rem;
    display: inline-flex;
    line-height:1.5;
    align-items:center;*/
    justify-content: center;
    ;
}

.btns{
display:flex;
justify-content: center;

}

.score-title{
    /* display:inline-block; */
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-left:50%
    margin-right:auto;
}
.scores-container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    background-color:antiquewhite;
    padding-bottom: 5rem;

}

.scores{
    display: flex;
    flex-direction:column;
justify-content: space-between;
align-content: space-between;
align-items:center;
margin: 1rem;
;
}

.player-score-div, .ai-score-div{
  margin-top:1rem;
   

}